<mat-card class="uiMain" [class.mat-elevation-z8]>
  <mat-list>
    <mat-list-item>
      <p style="float: left;">Yeezy - Zoomer-cringe</p>
      <button mat-flat-button style=" position: absolute; right: 0px;"><mat-icon>download</mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <p style="float: left;">Yeezy - Zoomer-cringe</p>
      <button mat-flat-button style=" position: absolute; right: 0px;"><mat-icon>download</mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <p style="float: left;">Yeezy - Zoomer-cringe</p>
      <button mat-flat-button style=" position: absolute; right: 0px;"><mat-icon>download</mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <p style="float: left;">Yeezy - Zoomer-cringe</p>
      <button mat-flat-button style=" position: absolute; right: 0px;"><mat-icon>download</mat-icon></button>
    </mat-list-item>
  </mat-list>
</mat-card>
