<mat-card class="uiMain" [class.mat-elevation-z8]>
  <section>
    <mat-action-list>
      <mat-list-item>
        <p style="float: left;">Yeezy - Zoomer-cringe</p>
      </mat-list-item>
      <mat-list-item>
        <p style="float: left;">Yeezy - Zoomer-cringe</p>
      </mat-list-item>
      <mat-list-item>
        <p style="float: left;">Yeezy - Zoomer-cringe</p>
      </mat-list-item>
      <mat-list-item>
        <p style="float: left;">Yeezy - Zoomer-cringe</p>
      </mat-list-item>
    </mat-action-list>
  </section>
</mat-card>