<h1 mat-dialog-title>Settings</h1>
<div mat-dialog-content>
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Tidal Username</mat-label>
      <input matInput>
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="fill">
      <mat-label>Tidal Password</mat-label>
      <input matInput>
    </mat-form-field>
  </section>
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Deezer Key</mat-label>
      <input matInput>
    </mat-form-field>
  </section>
  <button class="downloadButton" mat-flat-button color="primary" [class.mat-elevation-z8]>Login</button>
  <p></p>
  <mat-divider></mat-divider>
  <section>
    <p></p>
    <label>Storage Available</label>
    <p></p>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <p></p>
    <button class="downloadButton" mat-flat-button color="warn" [class.mat-elevation-z8]>Purge Download Cache</button>
  </section>
</div>